[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "*"
django-filter = "*"
graphene-django = "*"
django-extensions = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
